@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000a1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #131316c4;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container--form {
  position: absolute;
  left: 50%;
  top: 20vh;
  transform: translate(-50%, 50%);
  padding: 2em;
  border: #1677ff solid 2px;
  border-radius: 1em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
